$mars: rgb(231, 125, 17);
$mars-land: rgba(231, 125, 17, .45);
$mars-obstacle: rgba(231, 125, 17, .55);
$mars-pointer: rgba(231, 125, 17, .25);
$black: #282e34;

$rover-1: #117be7;
$rover-2: #11e77d;
$rover-3: #7d11e7;
$rover-4: darkorange;