@import './normalize.scss';
@import './color.scss';
@import './typography.scss';
@import './layout.scss';
@import './rover.scss';

body,
#root {
  min-height: 100vh;
}

button {
  margin: 1em 1em 1em 0;
}

label {
  margin-right: .5em;
}

